{
  "indices": [
    {
      "name": "Index 1",
      "host": "127.0.0.1",
      "port": 9200,
      "index": "test-index",
      "type": "customers"
    },
    {
      "name": "Index 2",
      "host": "localhost",
      "port": 9200,
      "index": "prod-index",
      "type": "customers"
    }
  ],
  "slack_api_token": "my-slack-api-token",
  "slack_channel": "#es-heartbeat",
  "max_retry_before_notify": 3
}